@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  background: #ffffff;
}

.wrapper {
	width: 100%;
	padding: 80px 0;
}

.wrapper h2 {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}

#myDiv {
	width: 300px;
	position: absolute;
	z-index: 9;
	cursor: move;
	background-color: #f1f1f1;
	text-align: center;
	border: 1px solid indianred;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#myDiv #myDivheader {
	padding: 7px 20px;
	background: indianred;
	color: #ffffff;
}

#myDiv p {
	padding: 7px 20px;
}